
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Practica</title>
</head>
<body>
    <div>
        <h1>Ejercicios</h1>
        <form action="/Cadena/Practica1" , method="post">
            <label>Ejercicio 1</label>
            <input type="text" name="areaText" />
            <input type="submit" value="Contar" />
        </form>
        <h3 style="color: red">@TempData["Ejercicio 1"]</h3>
        <br />
        <form action="/Cadena/Practica2" , method="post">
            <label>Ejercicio 2</label>
            <input type="text" name="areaText" />
            <input type="submit" value="Minusculas" />
        </form>
        <h3 style="color: red">@TempData["Ejercicio 2"]</h3>
        <br />
        <form action="/Cadena/Practica3" , method="post">
            <label>Ejercicio 3</label>
            <input type="text" name="areaText" />
            <input type="submit" value="Mayusculas" />
        </form>
        <h3 style="color: red">@TempData["Ejercicio 3"]</h3>

        <form action="/Cadena/Practica4">
            <label>Ejercicio 4</label>

            <input type="submit" value="Concatenar" />
        </form>
        <h3 style="color: red">@TempData["Ejercicio 4"]</h3>

        <form action="/Cadena/Practica5">
            <label>Ejercicio 5</label>

            <input type="submit" value="Verificar" />
        </form>
        <h3 style="color: red">@TempData["Ejercicio 5"]</h3>
        <br />
        <form action="/Cadena/Practica6" , method="post">
            <label>Ejercicio 6</label>
            <input type="text" name="areaText" />
            <input type="submit" value="Quitar" />
        </form>
        <h3 style="color: red">@TempData["Ejercicio 6"]</h3>
        <br />
        <form action="/Cadena/Practica7" , method="post">
            <label>Ejercicio 7</label>
            <input type="text" name="areaText" />
            <input type="submit" value="Quitar" />
        </form>
        <h3 style="color: red">@TempData["Ejercicio 7"]</h3>
        <br />
        <form action="/Cadena/Practica8" , method="post">
            <label>Ejercicio 8</label>
            <input type="text" name="areaText" />
            <input type="submit" value="Quitar" />
        </form>
        <h3 style="color: red">@TempData["Ejercicio 8"]</h3>

        <br />
        <form action="/Cadena/Practica9" , method="post">
            <label>Ejercicio 9</label>
            <input type="text" name="areaText" />
            <input type="submit" value="Verificar" />
        </form>
        <h3 style="color: red">@TempData["Ejercicio 9"]</h3>

        <br />
        <form action="/Cadena/Practica10" , method="post">
            <label>Ejercicio 10</label>
            <input type="text" name="areaText" />
            <input type="submit" value="Acompletar" />
        </form>
        <h3 style="color: red">@TempData["Ejercicio 10"]</h3>

        <br />
        <form action="/Cadena/Practica11" , method="post">
            <label>Ejercicio 11</label>
            <input type="text" name="areaText" />
            <input type="submit" value="Acompletar" />
        </form>
        <h3 style="color: red">@TempData["Ejercicio 11"]</h3>

        <br />
        <form action="/Cadena/Practica12" , method="post">
            <label>Ejercicio 12</label>
            <input type="text" name="areaText" />
            <input type="submit" value="Alreves" />
        </form>
        <h3 style="color: red">@TempData["Ejercicio 12"]</h3>

        <br />
        <form action="/Cadena/Practica13" , method="post">
            <label>Ejercicio 13</label>
            <input type="text" name="areaText" />
            <input type="submit" value="ContadorDeVocales" />
        </form>
        <h3 style="color: red">@TempData["Ejercicio 13"]</h3>
    </div>
</body>
</html>
